<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/defaults.xml"/>
    <property name="APP_NAME" value="MyEventApplication" />
    <property name="LOG_PATH" value="${user.home}/${APP_NAME}/logs" />
    <property name="LOG_FILE" value="${LOG_PATH}/application.log" />
    <!-- Địa chỉ Logstash -->
    <property name="LOGSTASH_HOST" value="localhost" />
    <property name="LOGSTASH_PORT" value="5044" />
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n" />

    <!-- Appender: Console (tùy chọn) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- Appender: Logstash -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "mv_date": "%d{yyyy-MM-dd HH:mm:ss:SSS}",
                        "mv_ip": "111.222.333.444",
                        "mv_thread": "%thread",
                        "mv_traceId": "%X{traceId}",
                        "mv_level": "%level",
                        "mv_logger": "%logger{40}",
                        "mv_message": "%msg%n"
                        }
                    </pattern>
                </pattern>

            </providers>
        </encoder>
    </appender>



    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>